/* Estilos para el logo y los enlaces principales */
.logo {
  width: 40px;
  margin: 10px;
}

.logo.react {
  animation: logo-spin infinite 20s linear;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Contenedor principal y título */
body {
  font-family: Arial, sans-serif;
  background-color: #d3d3d3; /* Fondo gris claro */
  color: #6a0dad; /* Color morado para el texto */
}

.logo {
  display: flex;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* Estilos para el input de búsqueda */
input[type='text'] {
  width: 50%;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #6a0dad; /* Fondo violeta */
  color: white; /* Letras blancas */
}

input[type='text']::placeholder {
  color: #ccc; /* Color gris claro para el placeholder */
}

.title {
  text-align: center;
  font-size: 40px;
}

/* Contenedor de filtros */
h2 {
  text-align: center;
}

.checkbox-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.checkbox-item {
  flex: 0 0 33%; /* Toma el 33% del ancho del contenedor padre */
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.checkbox-item input[type='checkbox'] {
  margin-right: 5px;
  accent-color: #6a0dad; /* Color morado para el checkbox */
}

.checkbox-item label {
  color: #6a0dad; /* Color morado para el texto de los labels */
}

/* Estilos de la tabla */

.table-container {
  height: 500px;
  overflow-y: auto;
}

table {
  width: 100%;
}

thead {
  background-color: #e0e0e0; /* Fondo gris claro para el encabezado */
  position: sticky;
  top: 0;
}

th,
td {
  padding: 8px;
  text-align: left;
}

/* Asegurar que el nombre se vea en una línea */
td.name-cell {
  white-space: nowrap;
}

/* Asegura que las filas tengan una altura mínima */
.group-table td {
  min-height: 40px;
  vertical-align: middle;
}

/* Estilos del botón */
.button-table {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  background-color: #0dad42; /* Color morado para el fondo del botón */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.button-table:hover {
  opacity: 0.8;
}

/* Estilos para la tarjeta de conteo */
.card {
  text-align: center;
  margin-top: 20px;
}

.read-the-docs {
  text-align: center;
  margin-top: 20px;
}

/* Nuevos estilos añadidos */

/* Estilos para el contenedor de filtros */
.filters {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* Estilos para los contenedores de checkboxes */
.checkbox-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.checkbox-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  flex: 1 1 33%;
}

.checkbox-item input[type='checkbox'] {
  margin-right: 5px;
  accent-color: #6a0dad; /* Color morado para el checkbox */
}

.checkbox-item label {
  color: #6a0dad; /* Color morado para el texto de los labels */
}
